*{
  padding: 0;
  margin: 0;
}

/* ----------取消滑动显示---------- */
::-webkit-scrollbar {
  display: none;
}


/* ----------背景轮播---------- */
.ban {
  width: 100vw;
  height: 100vh;
  margin: 0 auto 0 auto;
  position: fixed;
  /* border: 1px solid rgb(0 0 0 / 0); */
}

.ban_one {
  width: 100vw;
  height: 100vh;
  position: absolute;
  /* border: 1px solid black; */
}

.ban_one img {
  width: 100vw;
}

img.lb {
	position: absolute;
	opacity: 0;
	animation: Simg 12s infinite;
	width: 100vw;
}

@keyframes Simg {
	0% {
		opacity: 0
	}

	25% {
		opacity: 1
	}

	40% {
		opacity: 1
	}

	90% {
		opacity: 0
	}
}

img:nth-child(1) {
	animation-delay: 0s
}

img:nth-child(2) {
	animation-delay: 3s
}

img:nth-child(3) {
	animation-delay: 6s
}

img:nth-child(4) {
	animation-delay: 9s
}

/* ----------点按切换---------- */
.slide {
  position: relative;
  margin: 0 auto;
  width: 100vw;
  height: 100vh;
  text-align: center;
  font-family: Arial;
  color: #fff;
  overflow: hidden;
  /* border: 1px solid black; */
}

.slide ul {
  /* margin: 10px 0; */
  padding: 0;
  width: calc(100vw * 10);
  transition: all .5s;
}

.slide li {
  float: left;
  width: 100vw;
  height: 100vh;
  list-style: none;
  line-height: 500px;
  /* border: 1px saddlebrown solid; */
  font-size: 1vw;
}

.slide p {
  text-shadow: 0 0 10px #000000, 0 0 20px #1d373d, 0 0 40px #000000;
}

.slide li:nth-child(1) {
  /* background-color: #9fa8ef; */
  background-image: url(../images/qin.png);
  background-size: 100vw;
}

.slide li:nth-child(2) {
  /* background-color: #ef9fb1; */
  background-image: url(../images/babala.png);
  background-size: 100vw;
}

.slide li:nth-child(3) {
  /* background-color: #9fefc3; */
  background-image: url(../images/anbo.png);
  background-size: 100vw;
}

.slide li:nth-child(4) {
  /* background-color: #9fefc3; */
  background-image: url(../images/xiao.png);
  background-size: 100vw;
}

.slide li:nth-child(5) {
  /* background-color: #9fefc3; */
  background-image: url(../images/ningguang.png);
  background-size: 100vw;
}

.slide li:nth-child(6) {
  /* background-color: #9fa8ef; */
  background-image: url(../images/yanfei.png);
  background-size: 100vw;
}

.slide li:nth-child(7) {
  /* background-color: #ef9fb1; */
  background-image: url(../images/xiangling.png);
  background-size: 100vw;
}

.slide li:nth-child(8) {
  /* background-color: #9fefc3; */
  background-image: url(../images/beidou.png);
  background-size: 100vw;
}

.slide li:nth-child(9) {
  /* background-color: #9fefc3; */
  background-image: url(../images/hutao.png);
  background-size: 100vw;
}

.slide li:nth-child(10) {
  /* background-color: #9fefc3; */
  background-image: url(../images/shenhe.png);
  background-size: 100vw;
}

.slide input[name="button"] {
  display: none;

}

.slide label[for^="button"] {
  position: absolute;
  top: 65vh;
  width: 60px;
  height: 40px;
  margin: 0 10px;
  line-height: 40px;
  color: black;
  background-color: #fff;
  cursor: pointer;
  border-radius: 10px;
  transition: .3s;
}

.slide label[for="button1"] {
  left: 25%;
}

.slide label[for="button2"] {
  left: 30%;
}

.slide label[for="button3"] {
  left: 35%;
}

.slide label[for="button4"] {
  left: 40%;
}

.slide label[for="button5"] {
  left: 45%;
}

.slide label[for="button6"] {
  left: 50%;
}

.slide label[for="button7"] {
  left: 55%;
}

.slide label[for="button8"] {
  left: 60%;
}

.slide label[for="button9"] {
  left: 65%;
}

.slide label[for="button10"] {
  left: 70%;
}

#button1:checked~ul {
  margin-left: 0;
}

#button2:checked~ul {
  margin-left: -100vw;
}

#button3:checked~ul {
  margin-left: -200vw;
}

#button4:checked~ul {
  margin-left: -300vw;
}

#button5:checked~ul {
  margin-left: -400vw;
}

#button6:checked~ul {
  margin-left: -500vw;
}

#button7:checked~ul {
  margin-left: -600vw;
}

#button8:checked~ul {
  margin-left: -700vw;
}

#button9:checked~ul {
  margin-left: -800vw;
}

#button10:checked~ul {
  margin-left: -900vw;
}

#button1:checked~label[for="button1"] {
  background: rgb(14, 235, 180);
}

#button2:checked~label[for="button2"] {
  background: rgb(0, 68, 255);
}

#button3:checked~label[for="button3"] {
  background: rgb(255, 0, 0);
}

#button4:checked~label[for="button4"] {
  background: rgb(14, 235, 180);
}

#button5:checked~label[for="button5"] {
  background: rgb(223, 185, 19);
}

#button6:checked~label[for="button6"] {
  background: rgb(255, 0, 0);
}

#button7:checked~label[for="button7"] {
  background: rgb(255, 0, 0);
}

#button8:checked~label[for="button8"] {
  background: rgb(177, 28, 197);
}

#button9:checked~label[for="button9"] {
  background: rgb(255, 0, 0);
}

#button10:checked~label[for="button10"] {
  background: rgb(255, 255, 255);
}

footer{
  height: 3vh;
  position: absolute;
  text-align: center;
  margin: 1vh auto 1vh auto;
  left: 45%;
}