body {
  box-sizing: border-box;
}

/* ----------取消滑动显示---------- */
::-webkit-scrollbar {
  display: none;
}

/* ----------视差部分---------- */
#container {
  width: 100vw;
  height: auto;
  margin-top: -5vh;
}

section {
  height: 115vh;
  /* background-color: #c4cbcf; */
  color: #fff;
  font-size: 3vh;
  display: flex;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.img {
  background-size: auto;
  background-position: center;
  overflow: hidden;
  background-attachment: fixed;
  background-repeat: no-repeat;
  max-width: 100%;
  user-select: none;
  cursor: default;
}



#img1 {
  background-image: url(../images/word1.jpg);
}

#img2 {
  background-image: url(../images/word2.jpg);
}

#img3 {
  background-image: url(../images/word3.jpg);
}